/* @import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400&display=swap'); 
body{
    font-family: 'Rowdies', cursive;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
button{
    border: 0px;
    border-radius:4px ;
    background: rgba(0, 0, 0, 0.3);
    color: black;
    font-size:20px;
    font-family:'Rowdies', cursive ;
    cursor: pointer;
    width: 150px;
    height: 75px;
    transition: 1s ease-in-out;

}
#NO:hover{
    transform:translateX(500px);
    /* transform: scale(1.02); */
    /* transform: rotate(180deg); */
    /* transform-box: rotate(90deg); */

}

/* just playing with the transformation and animation */