/* @import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400&display=swap'); 
body{
    font-family: 'Rowdies', cursive;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
button{
    border: 0px;
    border-radius:4px ;
    background: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 10);
    cursor: pointer;
    width: 150px;
    height: 75px;

}